BIND_IP=0.0.0.0 # IP to bind to, change if you use a specific interface like a floating ip
MYSQL_DATABASE=redemrp
MYSQL_USER=redemrp
MYSQL_PASSWORD=secret
SERVER_NAME="Dockerized FXServer"
SERVER_DESC="An easy to install and use FXServer"
LICENSE_KEY="TheLicenseKey" # Retrieve from https://forum.cfx.re/t/explained-how-to-make-add-a-server-key/56120
RCON_PASSWORD="RCONPassword" # Set a secure RCON password
STEAM_API_KEY="SteamAPIKey" # Retrieve from https://steamcommunity.com/dev/apikey
#NO_ONESYNC=true
FIVEM_NUM: 5058
FIVEM_VER: 6f13a461c60095aa08bf27edfd0ce53f57eff6c0
DATA_VER: 44fc68d7ee1b94ad67a211a6ff8234ce4ff760c8
