BIND_IP=0.0.0.0 # IP to bind to, change if you use a specific interface like a floating ip
MYSQL_DATABASE=redemrp
MYSQL_USER=redemrp
MYSQL_PASSWORD=secret
SERVER_NAME="Dockerized FXServer"
SERVER_DESC="An easy to install and use FXServer"
LICENSE_KEY="TheLicenseKey" # Retrieve from https://forum.cfx.re/t/explained-how-to-make-add-a-server-key/56120
RCON_PASSWORD="RCONPassword" # Set a secure RCON password
STEAM_API_KEY="SteamAPIKey" # Retrieve from https://steamcommunity.com/dev/apikey
#NO_ONESYNC=true
