[submodule "resources/esplugin_mysql"]
	path = resources/esplugin_mysql
	url = https://github.com/RedEM-RP/esplugin_mysql.git
[submodule "resources/mysql-async"]
	path = resources/mysql-async
	url = https://github.com/amakuu/mysql-async-temporary.git
[submodule "resources/redem"]
	path = resources/redem
	url = https://github.com/kanersps/redem.git
[submodule "resources/[redemrp]/redem_roleplay"]
	path = resources/[redemrp]/redem_roleplay
	url = https://github.com/RedEM-RP/redem_roleplay
[submodule "resources/[redemrp]/redemrp_respawn"]
	path = resources/[redemrp]/redemrp_respawn
	url = https://github.com/RedEM-RP/redemrp_respawn.git
[submodule "resources/[redemrp]/redemrp_identity"]
	path = resources/[redemrp]/redemrp_identity
	url = https://github.com/RedEM-RP/redemrp_identity.git
[submodule "resources/[pNotify]"]
	path = resources/[pNotify]
	url = https://github.com/bumbummen99/pNotify.git
[submodule "resources/[redemrp]/redemrp_inventory"]
	path = resources/[redemrp]/redemrp_inventory
	url = https://github.com/RedEM-RP/redemrp_inventory.git
[submodule "resources/[redemrp]/redemrp_dialog"]
	path = resources/[redemrp]/redemrp_dialog
	url = https://github.com/RedEM-RP/redemrp_dialog.git
[submodule "resources/[redemrp]/redemrp_skin"]
	path = resources/[redemrp]/redemrp_skin
	url = https://github.com/RedEM-RP/redemrp_skin.git
[submodule "resources/[redemrp]/redemrp_clothing"]
	path = resources/[redemrp]/redemrp_clothing
	url = https://github.com/RedEM-RP/redemrp_clothing.git
[submodule "resources/[redemrp]/redemrp_menu_base"]
	path = resources/[redemrp]/redemrp_menu_base
	url = https://github.com/RedEM-RP/redemrp_menu_base.git
[submodule "resources/[redemrp]/redemrp_progressbars"]
	path = resources/[redemrp]/redemrp_progressbars
	url = https://github.com/RedEM-RP/redemrp_progressbars.git
[submodule "resources/[redemrp]/redemrp_shops"]
	path = resources/[redemrp]/redemrp_shops
	url = https://github.com/RedEM-RP/redemrp_shops.git
[submodule "resources/[redemrp]/redemrp_status"]
	path = resources/[redemrp]/redemrp_status
	url = https://github.com/RedEM-RP/redemrp_status.git
[submodule "resources/[redemrp]/redemrp_fishing"]
	path = resources/[redemrp]/redemrp_fishing
	url = https://github.com/RedEM-RP/redemrp_fishing.git
[submodule "resources/[redemrp]/redemrp_quests"]
	path = resources/[redemrp]/redemrp_quests
	url = https://github.com/RedEM-RP/redemrp_quests
[submodule "resources/[redemrp]/redemrp_properties"]
	path = resources/[redemrp]/redemrp_properties
	url = https://github.com/RedEM-RP/redemrp_properties
